<div *ngIf="movie">
  <div class="container">
    <div id="movie" class="well">
      <div class="row">
        <div class="col-md-4">
          <img src="{{movie.poster}}" class="thumbnail">
        </div>
        <div class="col-md-8">
          <h2>{{movie.title | uppercase}}</h2>
          <ul class="list-group">
            <li class="list-group-item"><strong>Жанр: </strong> <span>{{movie.genres}}</span></li>
            <li class="list-group-item"><strong>Выпущено: </strong> {{movie.release_date}}</li>
            <li class="list-group-item"><strong>Рейтинг: </strong> {{movie.vote_average}}</li>
            <li class="list-group-item"><strong>Длительность: </strong> {{movie.runtime}} min</li>
            <li class="list-group-item"><strong>Бюджет: </strong> {{movie.budget | currency}}</li>
            <li class="list-group-item"><strong>Кинокомпания:</strong> <span>{{movie.companies}}</span></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="well">
          <h3>Сюжет</h3>
          {{movie.overview}}
          <hr>
          <a href="http://imdb.com/title/{{movie.imdb_id}}" target="_blank" class="btn btn-primary">Посмотреть IMDB</a>
          <button (click)="goBack()" class="btn btn-default left-margin">Назад к поиску</button>
        </div>
      </div>

    </div>
  </div>

</div>

