<div>
   <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/">{{title}}</a>
      </div>
    </div>
  </nav>
  <div class='container-fluid'>   
      <router-outlet></router-outlet>
   </div>
  </div>
