
<div>
  <div class="container">
    <div class="jumbotron">
      <h3 class="text-center">Поиск любого фильма</h3>
      <form id="searchForm">
        <input #searchBox class="form-control" id="search-box" (input)="search(searchBox.value)" />
      </form>
    </div>
    
  </div>
  
  <div class="container">
    <div id="movies" class="row">
      <div class="col-md-3" *ngFor="let movie of movies$ | async">
        <div class="well text-center">
          <img src="{{movie.poster}}">
          <h5>{{movie.title}}</h5>
          <a routerLink="/detail/{{movie.id}}" class="btn btn-primary">Просмотр</a>
        </div>
      </div>

      
      
  
    </div>
  </div>

</div>
